{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="allplants-page">

    <h2 class="allplants-title">Search Results</h2>

    <!-- مربع البحث -->
    <form method="GET" class="filter-box" style="margin-bottom: 30px;">
        <input 
            type="text" 
            name="q" 
            placeholder="Search plants..." 
            value="{{ query }}" 
            class="search-input-field">
        <button class="filter-btn">Search</button>
    </form>

    <div class="allplants-container">

        {% if results %}
            {% for plant in results %}
            <div class="allplants-card">

                <img src="{{ plant.image.url }}" class="allplants-img" alt="{{ plant.name }}">

                <h3 class="allplants-name">{{ plant.name }}</h3>

                <p class="allplants-about">{{ plant.about|slice:":80" }}...</p>

                <p class="allplants-date">Added: {{ plant.created_at|date:"Y-m-d" }}</p>

                <div class="allplants-buttons">
                    <a href="{% url 'plants:plant_detail' plant.id %}" class="btn-detail">Detail</a>
                    <a href="{% url 'plants:update_plant' plant.id %}" class="btn-update">Update</a>
                    <a href="{% url 'plants:delete_plant' plant.id %}" class="btn-delete">Delete</a>
                </div>

            </div>
            {% endfor %}

        {% else %}
            <p class="no-data">No results found.</p>
        {% endif %}

    </div>

</div>

{% endblock %}
